window {
  background-color: rgba(50,50,50,0.6);
  color: #EBDBB2;
}

#input {
  margin: 5px;
  border: 1px solid #EBDBB2;
  background-color: rgba(50,50,50,0.5);
  color: #EBDBB2;
  font-size: 16px;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 10px;
}

#scroll {
}

#text {
  margin-left: 5px;
}

#entry:selected {
  background-color: #bbccdd;
  color: #bbccdd;
}
#text:selected {
  color: #333333;
  font-weight: bold;
}

