input {
  touchpad {
    tap
    natural-scroll
  }

  mouse {
  }

  trackpoint {
  }

  warp-mouse-to-focus

  // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
  focus-follows-mouse max-scroll-amount="0%"

  // Set modkey to alt
  mod-key "Alt"
  mod-key-nested "Alt"
}

output "eDP-1" {
  mode "1920x1080@60"
  scale 1.25
  transform "normal"
  position x=1920 y=0
}
output "HDMI-A-1" {
  mode "1920x1080@100.030"
  scale 1
  transform "normal"
  position x=0 y=0
  focus-at-startup
}

layout {
  gaps 2

  // When to center a column when changing focus, options are:
  // - "never", default behavior, focusing an off-screen column will keep at the left
  //   or right edge of the screen.
  // - "always", the focused column will always be centered.
  // - "on-overflow", focusing a column will center it if it doesn't fit
  //   together with the previously focused column.
  center-focused-column "never"

  // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
  preset-column-widths {
    // Proportion sets the width as a fraction of the output width, taking gaps into account.
    // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
    // The default preset widths are 1/3, 1/2 and 2/3 of the output.
    proportion 0.33333
    proportion 0.5
    proportion 0.66667

    // Fixed sets the width in logical pixels exactly.
    // fixed 1920
  }

  // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
  // preset-window-heights { }

  // You can change the default width of the new windows.
  default-column-width { proportion 0.5; }
  // If you leave the brackets empty, the windows themselves will decide their initial width.
  // default-column-width {}

  // By default focus ring and border are rendered as a solid background rectangle
  // behind windows. That is, they will show up through semitransparent windows.
  // This is because windows using client-side decorations can have an arbitrary shape.
  //
  // If you don't like that, you should uncomment `prefer-no-csd` below.
  // Niri will draw focus ring and border *around* windows that agree to omit their
  // client-side decorations.
  //
  // Alternatively, you can override it with a window rule called
  // `draw-border-with-background`.

  // You can change how the focus ring looks.
  focus-ring {
    width 2
    // Color of the ring on the active monitor.
    active-color "#7fc8ff"
    // Color of the ring on inactive monitors.
    inactive-color "#505050"
  }

  /-border {

  }

  // You can enable drop shadows for windows.
  /-shadow {
    softness 30
    // Spread expands the shadow.
    spread 5
    // Offset moves the shadow relative to the window.
    offset x=0 y=5
    // You can also change the shadow color and opacity.
    color "#0007"
  }

  // Struts shrink the area occupied by windows, similarly to layer-shell panels.
  // You can think of them as a kind of outer gaps. They are set in logical pixels.
  // Left and right struts will cause the next window to the side to always be visible.
  // Top and bottom struts will simply add outer gaps in addition to the area occupied by
  // layer-shell panels and regular gaps.
  struts {

  }
}



// Miscellaneous
spawn-at-startup "~/.config/waybar/waybar.sh"
spawn-at-startup "swaync"
spawn-at-startup "hyprpaper"
spawn-at-startup "fcitx5 -d"
spawn-at-startup "hypridle"
spawn-at-startup "kitty"

hotkey-overlay {
  skip-at-startup
}
environment {
  QT_IM_MODULE "fcitx"
  XMODIFIERS "@im=fcitx"
  SDL_IM_MODULE "fcitx"
  QT_QPA_PLATFORM "wayland"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
cursor {
  xcursor-theme "Banana"
  xcursor-size 32
  hide-when-typing
  hide-after-inactive-ms 1000
}
// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
  off
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
  // This regular expression is intentionally made as specific as possible,
  // since this is the default config, and we want no false positives.
  // You can get away with just app-id="wezterm" if you want.
  match app-id=r#"^org\.wezfurlong\.wezterm$"#
  default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  // This app-id regular expression will work for both:
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}



binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  // Suggested binds for running programs: terminal, app launcher, screen locker.
  Mod+T { spawn "kitty"; }
  Mod+Space { spawn "wofi"; }
  Super+Alt+L { spawn "hyprlock"; }

  // You can also use a shell. Do this if you need pipes, multiple commands, etc.
  // Note: the entire command goes as a single argument in the end.
  // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

  // Example volume keys mappings for PipeWire & WirePlumber.
  // The allow-when-locked=true property makes them work even when the session is locked.
  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  // Open/close the Overview: a zoomed-out view of workspaces and windows.
  // You can also move the mouse into the top-left hot corner,
  // or do a four-finger swipe up on a touchpad.
  Mod+O repeat=false { toggle-overview; }

  Mod+Q { close-window; }

  //Columns and windows binds
  Mod+H                  { focus-column-left; }
  Mod+J                  { focus-window-down; }
  Mod+K                  { focus-window-up; }
  Mod+L                  { focus-column-right; }
  Mod+Shift+H            { move-column-left; }
  Mod+Shift+J            { move-window-down; }
  Mod+Shift+K            { move-window-up; }
  Mod+Shift+L            { move-column-right; }

  //Monitors binds
  Super+H                { focus-monitor-left; }
  Super+L                { focus-monitor-right; }
  Super+Ctrl+L           { move-workspace-to-monitor-right; }
  Super+Ctrl+H           { move-workspace-to-monitor-left; }
  Super+Shift+H          { move-column-to-monitor-left; }
  Super+Shift+L          { move-column-to-monitor-right; }

  //Workspaces binds
  Mod+Tab                { focus-workspace-previous; }
  Mod+1                  { focus-workspace 1; }
  Mod+2                  { focus-workspace 2; }
  Mod+3                  { focus-workspace 3; }
  Mod+4                  { focus-workspace 4; }
  Mod+5                  { focus-workspace 5; }
  Mod+6                  { focus-workspace 6; }
  Mod+Shift+1            { move-column-to-workspace 1; }
  Mod+Shift+2            { move-column-to-workspace 2; }
  Mod+Shift+3            { move-column-to-workspace 3; }
  Mod+Shift+4            { move-column-to-workspace 4; }
  Mod+Shift+5            { move-column-to-workspace 5; }
  Mod+Shift+6            { move-column-to-workspace 6; }
  Mod+Ctrl+U             { move-workspace-up; }
  Mod+Ctrl+I             { move-workspace-down; }

  // The following binds move the focused window in and out of a column.
  // If the window is alone, they will consume it into the nearby column to the side.
  // If the window is already in a column, they will expel it out.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  // Expand the focused column to space not taken up by other fully visible columns.
  // Makes the column "fill the rest of the space".
  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }

  // Center all fully visible columns on screen.
  Mod+Ctrl+C { center-visible-columns; }

  // Finer width adjustments.
  // This command can also:
  // * set width in pixels: "1000"
  // * adjust width in pixels: "-5" or "+5"
  // * set width as a percentage of screen width: "25%"
  // * adjust width as a percentage of screen width: "-10%" or "+10%"
  // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
  // set-column-width "100" will make the column occupy 200 physical screen pixels.
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  // Finer height adjustments when in column with other windows.
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  // Toggle tabbed column display mode.
  // Windows in this column will appear as vertical tabs,
  // rather than stacked on top of each other.
  Mod+W { toggle-column-tabbed-display; }

  // Actions to switch layouts.
  // Note: if you uncomment these, make sure you do NOT have
  // a matching layout switch hotkey configured in xkb options above.
  // Having both at once on the same hotkey will break the switching,
  // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
  // Mod+Space       { switch-layout "next"; }
  // Mod+Shift+Space { switch-layout "prev"; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }

  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  Mod+Shift+P { power-off-monitors; }
}
